
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ede4de;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-content {
    background: #ededed;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 
    0 8px 16px rgb(0 0 0 /10%);
    display: none;
}

.form-content.active {
    display: block;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1877f2;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    color: rgb(7, 89, 110);
}

input,
select {
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;

}

input:focus {
    border: 1.8px solid #1877f2;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background:  rgb(16, 157, 192);
    transition: all .6s ease;
    margin-bottom: 20px;
}

button:hover {
    background:  rgb(16, 157, 192);
    color: #fff;
}

p {
    text-align: center;
    font-size: 14px;
}

a {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

hr {
    background: #f7f7f7;
    margin: 0.5rem;
    margin-bottom: 10px;
}
a:hover {
    text-decoration: underline;
}
